
.prefix-label-box {
    height: 32px;
    line-height: 32px;
    background-color: rgb(241, 241, 241);
    padding-left: 8px;
    padding-right: 8px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}